{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid container-lg mt-3">
      <div class="d-flex gap-3 align-items-center mb-2">
        <h2>Log In</h2>
      </div>

      <div class="row ">
        <div class="col-8">
          <div class="mb-2 row">
            <h5 style="color: red"> Sorry, wrong password </h5>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
              <h5>Login</h5>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="inputLogin" >
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
              <h5>Password</h5>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="inputPassword1" >
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
            </div>
              <div class="col-8 mt-3 ">
                <form>
                    <button class="btn btn-outline-success" type="submit">Log in!</button>
                </form>
              </div>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
            </div>
            <div class="col-8 mt-2 mb-3">
              <a href="{% url "signup" %}">create new account</a>
            </div>

          </div>
        </div>
{% endblock %}