{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="d-flex gap-3 align-items-center mb-3">
        <h2>Settings: <i>Dr.Pepper</i></h2>
      </div>

      <div class="row ">

        <div class="col-8 ">
          <div class="mb-4 row">
            <div class="col-3">
              <h5>Login</h5>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="inputLogin" >
            </div>
          </div>

          <div class="mb-4 row">
            <div class="col-3">
              <h5>Email</h5>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="inputEmail" >
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
              <h5>Nickname</h5>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" id="inputNickname" >
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-3">
              <h5>Avatar</h5>
            </div>
            <div class="col-5 row d-flex flex-column justify-content-between">
              <div class="col-5">
                <img   src="img.jpg" width="210" height="210" />
              </div>
              <div class="mt-3  row d-flex justify-content-between ">
                <div class="col-10">
                  <input type="text" class="form-control " id="inputPath"  >
                </div>
                <div class="col-2">
                  <form>
                    <button type="submit" class=" btn btn-primary" >choose</button>
                  </form>
                </div>
                <div class="col-8 mt-3 mb-5">
                  <form>
                    <button class="btn btn-outline-success" type="submit">save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  {% endblock %}